{{define "uploadFiles"}}
<div id="upload_files_block" class="mt-3">
    <h5></h5>
    <label class="fileContainer">
        Upload files
        <br>
        <!--        <img width="40" height="40" src="https://cdn3.iconfinder.com/data/icons/file-management-system-outline-1/32/file_manager_icon_set-22-512.png" alt="">-->
        <img width="40" height="40" src="https://files.fm/images/landing/todo/upload-store.svg" alt="">
        <input id="FileElement" type="file" multiple onchange="add_elements(this)" name="uploadedFiles[]" accept="image"/> <!-- accept="image/x-png,image/jpeg,image/gif" -->
    </label>
    <br><br><br><br>
    <div id="filelist">
    </div>
</div>
{{end}}